<h5>Find people within a radius of</h5>

<form method="POST" action="/">
<div class="form-inline  has-danger">
<div class="form-group mb-2">
<label class="sr-only" for="latitude">Latitude</label>
<input type="text" class="form-control form-control-danger mb-2 mr-sm-2 mb-sm-0" id="latitude"  placeholder="Enter Latitude" aria-describedby="latitudeHelp" name="lat" value="<%= @calculate_request_model.latitude %>" required>

<label class="sr-only" for="longitude">Longitude</label>
<input type="text" class="form-control form-control-danger mb-2 mr-sm-2 mb-sm-0" id="longitude"  placeholder="Enter Longitude" aria-describedby="longitudeHelp" name="lon" value="<%= @calculate_request_model.longitude %>" required>

<label class="sr-only" for="radius">Distance (kilometres)</label>
<input type="number" class="form-control form-control-danger mb-2 mr-sm-2 mb-sm-0" id="radius"  placeholder="Enter distance" aria-describedby="kmHelp" name="radius" value="<%= @calculate_request_model.radius %>" required>

<label class="sr-only" for="distanceMeasures">Unit</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="distanceMeasures" name="unit" required>
    <option <%= @calculate_request_model.unit == 'km' ? 'selected' : '' %> value="km">Kilometres</option>
    <option <%= @calculate_request_model.unit == 'miles' ? 'selected' : '' %> value="miles">Miles</option>
    <option <%= @calculate_request_model.unit == 'feet' ? 'selected' : '' %> value="feet">Feet</option>
    <option <%= @calculate_request_model.unit == 'metres' ? 'selected' : '' %> value="metres">Metres</option>
  </select>


<button type="submit" class="btn btn-primary btn-md margin-left">Calculate</button>
</div>
</div>
  <div class="form-check form-inline">
  <div class="form-group mb-2">
    <input type="checkbox" class="form-check-input" id="averageValue" name="calcAvgValue" <%= @calculate_request_model.calcAvgValue ? 'checked' : '' %>>
    <label class="form-check-label" for="averageValue">Calculate Average Value</label>
    </div>
  </div>
</form>
<% if @avg_value %>
<div class="p-3 bg-success">
Average Value: <%= @avg_value %>
</div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id (<%= @people_stats.size if @people_stats%>)</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  
  <% @people_stats.each do |data| %>
    <tr>
    <td><%= data.id %></td>
    <td><%= data.first_name %> <%= data.last_name %> </td>
    <td><%= data.value %> </td>
    <td><%= data.email %> </td>
    </tr>
<% end %>
</tbody>
</table>